<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ling.gateway">

    <application>

        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <!-- 网页浏览 -->
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 拍照选择 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片裁剪 -->
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 查看大图 -->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 播放视频（自适应方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（竖屏方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（横屏方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- 选择视频 -->
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>
